<html>
  <head>
    <title>Title</title>
    <meta charset="UTF-8">

  </head>
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/socket.io.slim.js"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script>
  $(function() {
    var socket = io();

    socket.on('asd', function(msg) {
      console.log(msg);
    });


   $('#login').click(function(){
    var v = {
    id: $("#user_id").val(),
    pw: $("#pw").val()
  }
  $.ajax({
      type: 'post',
      url: '/users/login',
      data: v,
      success: function(data) {
        window.location.assign('/main');
    $('#cur').append(sess+" & "+data +"\n");
  },
      error: function(err) {
        console.log(err);
      }
    });

  })

  });
</script>
  <body>
      <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand brand" href="/about">DBDBDeep</a>
          <ul class="navbar-nav ml-left">
              <li class=" nav-wrapper nav-item nav-content">
                <a href="#">Features</a>
                <a href="#">Solutions</a>
                <a href="#">Pricing</a>
                <a href="#">Company</a>
              </li>
            </ul>  
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="/register"><img class="little" src="./images/signin.png"/>Register</a>
                <a href="/login"> <img class="little" src="./images/register.png"/>Sign in</a>
              </li>
            </ul>
        </nav>
<!-- <h1> Login <%= sess.result %> </h1> -->
<!-- <form>
  <div class="form-group">
    <label>id</label>
    <input type="text" class="form-control" id="user_id"  placeholder="Enter id">
    <small class="form-text text-muted">Input your ID.</small>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" id="pw" placeholder="Enter Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Checkbox</label>
  </div>
  <div id="login" class="btn btn-primary">Submit</div>
</form> -->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img class="login_logo" src="./images/computer.svg" id="icon" alt="Icon made by Freepik from www.flaticon.com" />
          <h1>DBDBDeep</h1>
        </div>
    
        <!-- Login Form -->
        <form>
          <input type="text" id="user_id" class="fadeIn second" name="login" placeholder="username">
          <input type="text" id="pw" class="fadeIn third" name="login" placeholder="password">
          <input type="submit" id="login" class="fadeIn fourth" >
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="/about">Go to the Site</a>
        </div>
  
      </div>
</div>

  </body>

</html>
